body,html{
	margin: 0;
	padding: 0;
	min-width: 990px;
	height: 100%;
}

a {
    color:black;
}

@font-face{
	font-family: "Lato";
	src: url(../fonts/Lato-Regular.ttf);
	font-weight: normal;
}
@font-face{
	font-family: "Lato";
	src: url(../fonts/Lato-Bold.ttf);
	font-weight: bold;
}
@font-face{
	font-family: "TrajanPro";
	src: url(../fonts/TrajanPro-Regular.ttf);
	font-weight: normal;
}
@font-face{
	font-family: "TrajanPro";
	src: url(../fonts/TrajanPro-Bold.ttf);
	font-weight: bold;
}
nav{
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	padding-bottom: 20px;
	width: 100%;
	min-width: 990px;
}
.content{
	position: relative;
	width: 990px;
	margin: 0 auto;
}
.nav-left{
	padding-top: 70px;
	float: left;
}
.nav-right{
	padding-top: 70px;
	float: right;
}
.nav-item{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav-item li{
	float: left;
	margin-right: 20px;
}
.nav-item li a{
	text-decoration: none;
	color: #1c97c3;
	font-size: 17px;
	font-family: "TrajanPro";
	font-weight: normal;
	padding: 5px 0;
}
.nav-item li a:hover{
	color: #333333;
	border-bottom: 1px solid #333333;
}
.logo img{
	float: left;
	margin-left: 40px;
}
.logo{
	display: inline-block;
	background: #f8f8f8;
	padding: 10px 20px 15px 20px;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-radius: 0 0 30px 30px;
	margin-left: 12px;
}
.logo p{
	margin: 0;
	display: block;
	padding: 0;
}
.logo-top-text{
	color: #333333;
	font-family: "TrajanPro";
	font-weight: bold;
	font-size: 35px;
}
.logo-bottom-text{
	color: #1c97c3;
	font-family: "TrajanPro";
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 9px;
}
.header-phone{
	position: absolute;
	right: 20px;
	top:20px;
	color: #1c97c3;
	font-size: 23px;
}
.header-phone-number{
	margin-left: 10px;
}
header{
	background: url(../img/header-bg.png) no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 25px;
}
header h1{
	padding-top: 95px;
	font-family: "TrajanPro";
	font-weight: normal;
	font-size: 26px;
}
.header-pic-right{
	float: right;
	padding-top: 40px;
}
.header-content{
	overflow: hidden;
	margin-top: 2px;
}
.header-button{
	outline: none;
	border: none;
	background: #1c97c3;
	font-size: 22px;
	font-family: "Lato";
	font-weight: normal;
	color: #ffffff;
	padding: 7px 80px 7px 7px;
	position: relative;
}
.header-button::after{
	content: '>>';
	position: absolute;
	right: 0;
	padding-right: 10px;
}
.header-button:hover{
	cursor: pointer;
}
.section-1{
	float: left;
	width: 630px;
	position: relative;
}
.section-1::after{
	content:'';
	background: url(../img/border-right.png) no-repeat;
	width: 10px;
	height: 273px;
	position: absolute;
	top:20px;
	right: -30px;
}
.s1{
	min-height: 280px;
}
.s2{
	overflow: hidden;
}
.s1{
	margin-bottom: 30px;
}
.section-1 h1,
.section-2 h1{
	font-family: "TrajanPro";
	font-weight: bold;
	font-size: 27px;
	color: #333333;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 15px;
}
.section-1-photo{
	padding: 4px;
	border: 1px solid #cccccc;
}
.section-1-content{
	overflow: hidden;
}
.photo{
	background: #f7f7f7;
	overflow: hidden;
	display: inline-block;
	float: left;
	margin-right: 20px;
}
.section-1-text{
	color: #666666;
	font-family: "Lato";
	font-weight: normal;
	font-size: 14px;
	padding-top: 3px;
}
.sign-in{
	float: left;
	position: relative;
	background: #1c97c3;
	width: 267px;
	margin-left: 35px;
	padding: 5px 20px 10px 20px;
	border-radius: 0px 0px 10px 10px;
}
.sign-in::before{
	content: '';
	position: absolute;
	top:-13px;
	background: url(../img/sign-in-top.png) no-repeat;
	width: 340px;
	height: 13px;
	left: -17px;
	clear: both;
}
.sign-in h1{
	font-family: "TrajanPro";
	font-weight: bold;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	padding-bottom: 10px;
	margin: 0;
	border-bottom: 1px solid #51bde6;
}
.sign-input{
	width: 100%;
	height: 30px;
	border-radius: 5px;
	border: none;
}
.sign-checkbox{
	width: 16px;
	height: 16px;
	background: #fff;
}
.sign-checkbox-text{
	font-family: Lato;
	font-size: 14px;
	color: #fff;
	position: relative;
	top: -3px;
}
.sign-in-button{
	outline: none;
	border: none;
	background: #333333;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 15px;
	color: #ffffff;
	padding: 5px 25px 5px 20px;
	border-radius: 5px;
	border: 1px solid #1e2021;
}
.sign-in-button:hover{
	cursor: pointer;
}
.sign-in-button span{
	position: relative;
	top: -1px;
	left: 5px;
}
.pass-forgot a{
	font-family: 'Lato';
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	margin-left: 5px;
}
.pass-forgot a:hover{
	text-decoration: none;
}
.s2{
	background: url(../img/section-2-bg.png) no-repeat;
	background-size: cover;
}
.section-2-left{
	float: left;
	width: 500px;
}
.section-2-right{
	float: right;
	width: 450px;
}
.section-2-title{
	position: relative;
}
.arrows{
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
}
.arrows a{
	text-decoration: none;
}
.date{
	height: 70px;
	width: 52px;
	text-align: center;
	font-family: 'Lato';
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	float: left;
	margin-right: 5px;
}
.month{
	background: #333333;
	display: block;
	padding: 5px 0;
	border-radius: 5px 5px 0 0;
}
.day{
	background: #1e97c4;
	display: block;
	padding: 5px 0;
	border-radius: 0 0 5px 5px;
}
.post{
	font-size: 13px;
	font-weight: normal;
	font-family: 'Lato';
	color: #333333;
}
.post h3{
	color: #1c97c3;
	padding: 0 0 5px 0;
	margin: 0;
	font-size: 13px;
}
.news-post{
	width: 250px;
	float: left;
	margin-bottom: 20px;
}
.row-post,
.adv-row{
	height: auto;
	display: block;
	overflow: hidden;
}
.adv-item{
	padding: 5px;
	background: #9fdaf0;
	display: inline-block;
	margin-right: 12px;
	width: 125px;
}
.adv-row{
	margin-bottom: 20px;
}
.wrap{
	position: relative;
	min-height: 100%;
}
footer{
	background: #104e60;
	min-height: 170px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.footer-padding{
	height: 170px;
}
.footer-nav{
	text-align: center;
}
.footer-nav ul{
	list-style-type: none;
	overflow: hidden;
	display: inline-block;
	margin-top: 20px;
	padding: 0;
}
.footer-nav li{
	float: left;
	padding: 0 20px;
}
.footer-nav li{
	border-right: 1px solid #fff;
}
.footer-nav li:last-child{
	border-right: 0;
}
.footer-nav li a{
	color: #ffffff;
	font-family: 'TrajanPro';
	font-weight: normal;
	font-size: 15px;
	text-decoration: none;
}
.contact-item{
	display: inline-block;
	margin-left: 30px;
}
.contact-item a{
	text-decoration: none;
	color: #fff;
}
.contact-item span{
	font-family: 'Lato';
	font-weight: normal;
	font-size: 15px;
	color: #ffffff;
	position: relative;
	top: -3px;
}
.footer-social{
	margin-right: 20px;
	position: relative;
	top: 7px;
}
.footer-content{
	border-bottom: 1px solid #5b808b;
	padding-bottom: 20px;
}
.copyright{
	font-size: 12px;
	font-weight: normal;
	font-family: 'TrajanPro';
	color: #cccccc;
	text-align: center;
	margin-top: 15px;
}
.content-area{
	min-height: 200px;
}